.banner-section {
  background-image: url(../images/bg-city2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.banner-info {
  width: 45%;
  margin-right: 22%;
}
h1 {
  font-size: 70px;
}
.banner-title {
  color: #ffffff;
}
.banner-title {
  font-size: 30px;
  margin: 15px 0;
}
.banner-form {
  width: 30%;
}
.banner-form {
  background: #ffffff;
  text-align: center;
}
.banner-form h3 {
  padding: 10px;
}
form input {
  width: 80%;
}
.banner-form input[type="submit"] {
  background: #ff8b38;
  border-bottom: none;
  color: #ffffff;
  margin-top: 40px;
  padding: 15px;
  width: 100%;
}
.banner-form input[type="submit"]:hover{
  background-color: #aa5d27;
}

.stylish-section {
  background-image: url(../images/bg-city1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}
.stylish-section .common-padding {
  padding: 80px 0 50px;
}
.white-title-line {
  background: #ffffff;
}

.contact-section {
  padding-bottom: 60px;
}
.inputs-form-container {
  margin: 40px 0;
  width: 45%;
  margin-right: 5%;
}
.contact-form input {
  width: 100%;
}
.contact-form textarea {
  width: 45%;
  height: 100%;
  resize: none;
  vertical-align: bottom;
  margin: 40px 0;
}
.contact-form input[type="submit"]{
  width: unset;
}
