.card {
  width: 31%;
  margin-top: 60px;
}
.card i {
  width: 70px;
  font-size: 30px;
  color: #ff8b38;
  border-radius: 50%;
  border: 2px solid #ff8b38;
  padding: 20px 10px;
}
.card-title {
  margin: 20px 0;
}

.pricing-container h3 {
  padding: 20px 0;
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}
.pricing-container h1 {
  padding: 20px 0 10px;
  font-size: 90px;
}
.pricing-container p {
  padding: 15px;
  font-size: 15px;
  background: #ffffff;
}
.pricing-container .payment-p {
  padding-bottom: 20px;
  border-bottom: 6px solid #ff8b38;
  background: #333333;
  margin: 0;
}
.pricing-container .diffrent-p {
  background: #ff8b38;
  margin: 0;
  color: #ffffff;
  padding: 10px;
}

.customers-section .card {
  width: 23%;
  text-align: left;
  position: relative;
}
.customers-section .center-card {
  margin: 0 10%;
}
.customers-section .card .gray-bg {
  padding: 20px 15px;
}
.customer-container img {
  width: 25%;
  border-radius: 50%;
}
.customer-container {
  margin: 30px 0;
}
.customer-info {
  vertical-align: top;
  margin-top: 10px;
  margin-left: 15px;
}
.customer-info p {
  margin-top: 3px;
  font-size: 15px;
}

.triangle {
  position: absolute;
  left: 7%;
  width: 0px;
  height: 0px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 16px solid #f5f5f5;
}
