* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #11cfcf;
}

.form-container {
  width: 90%;
  margin: 60px auto;
}

h1 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 45px;
  font-size: 45px;
}

form {
  width: 40%;
  display: inline-block;
  text-align: right;
  margin:20px 0;
}

input,
textarea {
  padding: 20px 10px;
  margin-bottom: 25px;
  border-radius: 5px;
  border: none;
  display: block;
  width: 100%;
  font-size: 15px;
}

textarea {
  font-size: 18px;
}

.diffrent-input,
input[type="submit"]{
  width: 48%;
  display: inline-block;
}

.company-input{
  float: left;
}

input[type="submit"] {
  background: #ffeb3e;
  font-size: 18px;
  padding: 18px;
}

.info-content {
  margin: 100px 20px;
  vertical-align: middle;
  width: 45%;
  float: right;
  display: inline-block;
  color: #ffffff;
}

h2 {
  margin: 10px 0;
  font-size: 35px;
}

ul {
  margin: 30px 0;
  font-size: 40px;
  list-style-position: inside;
}

li{
    margin: 5px 0;
    font-size: 18px;
}

a {
  color: #ffeb3e;
  text-decoration: none;
}
