.middle-section {
  margin-bottom: 40px;
}
.bg-img {
  margin-bottom: 20px;
}
.bg-img .overlay {
  text-align: center;
  padding: 15px;
  background: #00000080;
  color: #ffffffe0;
}
.bg-img-1 {
  background-image: url(../images/world-1.webp);
  background-size: cover;
}
.bg-img-2 {
  background-image: url(../images/world-2.webp);
  background-size: cover;
}
.bg-img-3 {
  background-image: url(../images/world-3.webp);
  background-size: cover;
}

.bg-img span {
  color: #0024f3;
  background: #fffffff8;
  font-size: 10px;
  padding: 5px 15px;
}
.bg-img span:hover {
  color: #ffffff;
  background: #0024f3;
}
.bg-img h3 {
  margin: 80px 0;
}
.bottom-section .aside-style {
  padding: 15px 0;
  margin: 25px 0;
}
.bottom-section .big-section .card {
  display: block;
  margin-bottom: 20px;
}
.bottom-section .big-section .card img {
  width: 100%;
}
.bottom-section .big-section .card-content {
  padding: 15px 25px 5px;
}
.bottom-section .aside-section .card-content {
  padding-bottom: 10px;
}
.bottom-section .card-content p {
  margin: 15px 0;
  margin-right: 40px;
}
.bottom-section .aside-section {
  border-left: unset;
}
.bottom-section .aside-section .card {
  margin-bottom: 13px;
}
.play-icon {
  position: absolute;
  background: #ffffff;
  padding: 12px;
  border-radius: 50%;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -75%);
  font-size: 12px;
  color: #8d8d8d;
}
.play-icon:hover {
  color: #0024f3;
}
.button {
  text-align: center;
  margin: 10px auto 70px;
}
.load-more {
  padding: 10px 30px;
  border-radius: 20px;
  color: #8d8d8d;
  border: 2px solid #cecece;
  background-color: #ffffff;
}
.load-more:hover {
  background: #0024f3;
  color: #ffffff;
  border: 2px solid #0024f3;
}
footer {
  background: #161616;
  padding: 80px 0;
}
footer .bg-img h3 {
  color: #ffffff;
  margin: 15px 0 20px;
}
footer .bg-img h2 {
  color: #ffffff;
  margin: 15px 0 25px;
}
.footer-links {
  flex-wrap: wrap;
  padding: 15px 0;
}
.footer-links li {
  width: 25%;
}
.footer-links a:hover {
  color: #0024f3;
}
.contact-input {
  position: relative;
}
.contact-input i {
  color: #8d8d8d;
  position: absolute;
  right: 7px;
  top: 10px;
  font-size: 15px;
}
.contact-input input {
  width: 100%;
  padding: 10px;
  background: unset;
  border: none;
  border-bottom: 2px solid #8d8d8d;
}

@media screen and (min-width: 650px) {
  .bg-img {
    width: 31.5%;
  }
  .bg-img h3 {
    margin: 20px 0;
  }
  .bottom-section .big-section .card {
    display: flex;
    margin-bottom: 8px;
  }
  .bottom-section .big-section .card img {
    width: 250px;
  }
  .bottom-section .selected-items {
    display: block;
  }
}
