.overlay {
  background: #000000e1;
  width: 100%;
  height: 100%;
}
.blue-hover {
  transition: color 0.4s;
}
.blue-hover:hover {
  color: #3181fa !important;
}
.dark-hover {
  transition: color 0.4s;
}
.dark-hover:hover {
  color: #000000 !important;
}
.co-btn-blue {
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.co-btn-blue:hover .hover-div {
  left: 102%;
}

.navbar {
  z-index: 1000;
}
.dropdown-menu {
  display: block;
  transform: translatex(-20px);
  visibility: hidden;
  margin-top: 25px;
}
.dropdown:hover .dropdown-menu {
  transform: translatex(0);
  transition: all 0.3s ease;
  visibility: visible;
}
.owl-1-carousel .owl-nav {
  display: none;
}
.owl-1-carousel .owl-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.owl-1-carousel .owl-dots .owl-dot span {
  border-radius: unset;
  width: 8px;
  height: 8px;
  background: white;
  margin: 5px 10px;
}
.owl-1-carousel .owl-dots .owl-dot:hover span,
.owl-1-carousel .owl-dots .owl-dot.active span {
  width: 10px;
  height: 10px;
  background: unset;
  border: 1px solid white;
}

.bg-img-1 {
  background: url(../images/slider1.jpg);
}
.bg-img-2 {
  background: url(../images/slider2.jpg);
}
.bg-img-3 {
  background: url(../images/slider3.jpg);
}
.bg-img-4 {
  background: url(../images/ecommerce-cover.jpg);
}
.banner {
  height: 742px;
  background-position: center;
  background-size: cover;
  width: 100%;
}
.btn-outline-primary {
  transition: all 0.2s ease !important;
}
.btn-outline-primary:hover {
  color: #fff !important;
  background-color: #0d6efd;
  border-color: #0d6efd !important;
}
.btn-outline-white {
  transition: all 0.2s ease !important;
}
.btn-outline-white:hover {
  color: #0d6efd !important;
  background-color: #ffffff;
  border-color: #0d6efd !important;
}

.about-icons {
  border-radius: unset;
}
.icons-section .card {
  background: unset;
}

.services-section {
  background-image: url(../images/service-bg.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
}
.hover-div {
  position: absolute;
  top: -30px;
  left: -40px;
  transform: rotate(20deg);
  width: 40px;
  height: 100px;
  background: #4791ff;
  opacity: 0.5;
  transition: left 0.6s ease;
  z-index: -1;
}
.btn-outline-white .hover-div {
  opacity: 0.2;
}
.services-content {
  opacity: 0;
  height: 0;
  transition: 0.3s ease;
}
.col-12:hover .services-content {
  opacity: 1;
  height: 100%;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: unset;
  isolation: unset;
}
.bg-work {
  padding-top: 100% !important;
  padding: 0.5rem;
}
.bg-work1 {
  background: url(../images/port2.jpg);
  background-size: 100% 100%;
}
.bg-work2 {
  background: url(../images/compute.jpg);
  background-size: 100% 100%;
}
.bg-work3 {
  background: url(../images/office.jpg);
  background-size: 100% 100%;
}
.bg-work4 {
  background: url(../images/port7.jpg);
  background-size: 100% 100%;
}
.bg-work5 {
  background: url(../images/suit.jpg);
  background-size: 100% 100%;
}
.bg-work6 {
  background: url(../images/port6.jpg);
  background-size: 100% 100%;
}
.work-card {
  background-color: #0d6dfdc5 !important;
  transform: scaleX(0);
  opacity: 0;
  transition: all 0.3s ease;
}
.bg-work:hover .work-card {
  transform: scaleX(1);
  opacity: 1;
}

.img-section {
  background: url(../images/ecommerce-cover.jpg);
  background-size: 100% 100%;
  height: 1110px;
}

.team-section {
  background: #f9f9f9;
}
.bg-imgs {
  padding-top: 100% !important;
  padding: 0.5rem;
  background-repeat: no-repeat !important;
  background-position: center !important;
  height: 450px;
}
.bg-imgs1 {
  background: url(../images/team1.png);
}
.bg-imgs2 {
  background: url(../images/team2.png);
}
.bg-imgs3 {
  background: url(../images/team3.png);
}
.bg-imgs4 {
  background: url(../images/team4.png);
}
.bg-imgs5 {
  background: url(../images/team5.png);
}
.bg-imgs6 {
  background: url(../images/team6.png);
}
.imgs-content {
  height: 20%;
  transition: 0.3s linear;
}
.imgs-content ul {
  margin-top: 25% !important;
  height: 0;
  transition: 0.5s linear;
}
.col-12:hover .imgs-content {
  height: 50%;
}
.col-12:hover .imgs-content ul {
  height: 25%;
  margin-top: 0 !important;
}
.col-12:hover .imgs-content p {
  border: none !important;
  padding-top: unset !important;
}
.pricing-hr {
  color: #0d6efd;
  width: 70px;
  margin: 20px auto;
}

