.overlay {
  background: #000000d5;
  width: 100%;
  height: 100%;
}
.container {
  max-width: 1260px !important;
}
.blue-hover {
  transition: color 0.4s;
}
.blue-hover:hover {
  color: #3181fa !important;
}
.dark-hover {
  transition: color 0.4s;
}
.dark-hover:hover {
  color: #000000 !important;
}
.co-btn-blue {
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.co-btn-blue:hover .hover-div {
  left: 102%;
}

.navbar {
  z-index: 1000;
}
.dropdown-menu {
  display: block;
  transform: translatex(-20px);
  visibility: hidden;
  margin-top: 25px;
}
.dropdown:hover .dropdown-menu {
  transform: translatex(0);
  transition: all 0.3s ease;
  visibility: visible;
}
.owl-1-carousel .owl-nav {
  display: none;
}
.owl-1-carousel .owl-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.owl-1-carousel .owl-dots .owl-dot span {
  border-radius: unset;
  width: 8px;
  height: 8px;
  background: white;
  margin: 5px 10px;
}
.owl-1-carousel .owl-dots .owl-dot:hover span,
.owl-1-carousel .owl-dots .owl-dot.active span {
  width: 10px;
  height: 10px;
  background: unset;
  border: 1px solid white;
}

.bg-img-1 {
  background: url(../images/slider1.jpg);
}
.bg-img-2 {
  background: url(../images/slider2.jpg);
}
.bg-img-3 {
  background: url(../images/slider3.jpg);
}
.bg-img-4 {
  background: url(../images/ecommerce-cover.jpg);
}
.banner {
  height: 742px;
  background-position: center;
  background-size: cover;
  width: 100%;
}
.contact-banner {
  background-size: auto;
  background-position: top;
}
.banner-content {
  background: #00000078;
}
.btn-outline-primary {
  transition: all 0.2s ease !important;
}
.btn-outline-primary:hover {
  color: #fff !important;
  background-color: #0d6efd;
  border-color: #0d6efd !important;
}
.btn-outline-white {
  transition: all 0.2s ease !important;
}
.btn-outline-white:hover {
  color: #0d6efd !important;
  background-color: #ffffff;
  border-color: #0d6efd !important;
}

.about-icons {
  border-radius: unset;
}
.icons-section .card {
  background: unset;
}

.services-section {
  background-image: url(../images/service-bg.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
}
.hover-div {
  position: absolute;
  top: -30px;
  left: -40px;
  transform: rotate(20deg);
  width: 40px;
  height: 100px;
  background: #4791ff;
  opacity: 0.5;
  transition: left 0.6s ease;
  z-index: -1;
}
.btn-outline-white .hover-div {
  opacity: 0.2;
}
.services-content {
  opacity: 0;
  height: 0;
  transition: 0.3s ease;
}
.col-12:hover .services-content {
  opacity: 1;
  height: 100%;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: unset;
  isolation: unset;
}
.bg-work {
  padding-top: 100% !important;
  padding: 0.5rem;
}
.bg-work1 {
  background: url(../images/port2.jpg);
  background-size: 100% 100%;
}
.bg-work2 {
  background: url(../images/compute.jpg);
  background-size: 100% 100%;
}
.bg-work3 {
  background: url(../images/office.jpg);
  background-size: 100% 100%;
}
.bg-work4 {
  background: url(../images/port7.jpg);
  background-size: 100% 100%;
}
.bg-work5 {
  background: url(../images/suit.jpg);
  background-size: 100% 100%;
}
.bg-work6 {
  background: url(../images/port6.jpg);
  background-size: 100% 100%;
}
.work-card {
  background-color: #0d6dfdc5 !important;
  transform: scaleX(0);
  opacity: 0;
  transition: all 0.3s ease;
}
.bg-work:hover .work-card {
  transform: scaleX(1);
  opacity: 1;
}

.img-section {
  background: url(../images/ecommerce-cover.jpg);
  background-size: 100% 100%;
  height: 1110px;
}

.bg-imgs {
  padding-top: 100% !important;
  padding: 0.5rem;
  background-repeat: no-repeat !important;
  background-position: center !important;
  height: 450px;
}
.bg-imgs1 {
  background: url(../images/team1.png);
}
.bg-imgs2 {
  background: url(../images/team2.png);
}
.bg-imgs3 {
  background: url(../images/team3.png);
}
.bg-imgs4 {
  background: url(../images/team4.png);
}
.bg-imgs5 {
  background: url(../images/team5.png);
}
.bg-imgs6 {
  background: url(../images/team6.png);
}
.imgs-content {
  height: 20%;
  transition: 0.3s linear;
}
.imgs-content ul {
  margin-top: 25% !important;
  height: 0;
  transition: 0.5s linear;
}
.col-12:hover .imgs-content {
  height: 50%;
}
.col-12:hover .imgs-content ul {
  height: 25%;
  margin-top: 0 !important;
}
.col-12:hover .imgs-content p {
  border: none !important;
  padding-top: unset !important;
}
.pricing-hr {
  color: #0d6efd;
  width: 70px;
  margin: 20px auto;
}

.owl-2-carousel .owl-dots {
  display: none;
}
.owl-2-carousel .owl-nav {
  margin: 40px;
}
.owl-2-carousel .owl-nav button.owl-prev {
  padding: 6px 15px 3px !important;
  border-radius: 50rem 0 0 50rem !important;
  background: #0d6efd !important;
  transition: background-color 0.7s;
  margin: 7px !important;
}
.owl-2-carousel .owl-nav button.owl-prev:hover {
  background: #000000 !important;
}
.owl-2-carousel .owl-nav .owl-prev span {
  content: url(../images/long-arrow-left.svg);
  width: 15px;
}
.owl-2-carousel .owl-nav button.owl-next {
  padding: 6px 15px 3px !important;
  border-radius: 0 50rem 50rem 0 !important;
  background: #0d6efd !important;
  transition: background-color 0.7s;
  margin: 7px !important;
}
.owl-2-carousel .owl-nav button.owl-next:hover {
  background: #000000 !important;
}
.owl-2-carousel .owl-nav .owl-next span {
  content: url(../images/long-arrow-right.svg);
  width: 15px;
}

.blog-card img,
.blog-card .blog-container ul,
.blog-card hr,
.blog-content a i,
.footer-botton,
.post-head,
.post-img,
.contact-button {
  transition: all 0.4s ease;
}
.blog-card:hover img {
  transform: rotate(-5deg) scale(1.1);
}
.blog-card:hover .blog-container ul {
  background: #0d6efd !important;
}
.blog-card:hover hr {
  width: 100%;
}
.blog-content a:hover i {
  margin-left: 10px !important;
}
.clients-img {
  display: none;
  width: 278px;
  height: 421px;
  filter: drop-shadow(-5px 5px 10px #717171);
  margin-left: 40px;
}
.clients-content img {
  width: 80%;
  height: 90px;
}
.nav-tabs .nav-link.active {
  color: #0d6efd !important;
}
.pricing-content .nav-tabs .nav-link.active,
.footer-botton:hover {
  background: #0d6efd !important;
  color: #ffffff !important;
}
.post-img {
  width: 90px;
  height: 65px;
}
.now-icon {
  display: none;
  font-size: 110px;
  position: absolute;
  margin-top: 31px;
  margin-left: 150px;
  color: #4791ff;
}
.footer-bottom {
  box-shadow: 0px -15px 10px -10px #00000021;
}
.footer-p {
  font-family: "Josefin Sans", sans-serif !important;
}
.post-img:hover {
  opacity: 0.5;
}
.post-head:hover {
  color: #cacaca;
}
.move-icon {
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 22px;
  background: #0d6efd;
  border-radius: 50%;
  padding: 12px;
  padding-top: 6px;
  color: #ffffff;
  z-index: 10000000;
}
.contact-input {
  outline: 0 !important;
}
.input-icon {
  top: 20px;
}
.contact-button:hover{
    background: #000000 !important;
}