* {
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
body {
  line-height: unset !important;
}
p {
  font-family: "Open Sans", sans-serif !important;
  color: gray;
  line-height: 1.5rem;
}
.my-20 {
  margin: 20px 0;
}
.my-30 {
  margin: 30px 0;
}
.my-40 {
  margin: 40px 0;
}
.m-icons {
  margin: 1rem 10%;
}
.m-pricing {
  margin: 0 20%;
}
.mx-per {
  margin: 0 10%;
}
.fs-18 {
  font-size: 18px;
}
.fs-25 {
  font-size: 25px;
}
.fs-50 {
  font-size: 50px;
}
.fs-60 {
  font-size: 60px;
}
.fs-40 {
  font-size: 40px;
}
.fs-30 {
  font-size: 32px;
}
.fs-10 {
  font-size: 10px;
}
.fs-7 {
  font-size: 14px;
}
.fs-8 {
  font-size: 12px;
}
.p-btn {
  padding: 13px 35px;
}
.p-dd {
  padding: 15px 40px 15px 15px;
}
.p-i {
  padding: 20px 13px;
}
.py-10 {
  padding: 10px 0;
}
.py-25 {
  padding: 25px 0;
}
.py-30 {
  padding: 30px 0;
}
.py-40 {
  padding: 40px 0;
}
.py-60 {
  padding: 60px 0;
}
.py-65 {
  padding: 65px 0;
}
.py-80 {
  padding: 80px 0;
}
.py-130 {
  padding: 130px 0;
}
.py-150 {
  padding: 150px 0;
}
.px-30 {
  padding: 0 30px;
}
.px-40 {
  padding: 0 40px;
}
.px-50 {
  padding: 0 50px;
}
.p-now {
  padding: 40px 5%;
}
.px-per {
  padding: 0 10%;
}
.pb-40 {
  padding-bottom: 40px;
}
.pt-60 {
  padding-top: 60px;
}
.mw-6 {
  max-width: 660px;
}
.w-200 {
  width: 215px;
}
hr {
  opacity: 1;
  margin: 5px 0;
}
.hr-blue {
  height: 2px !important;
  background: #0d6efd;
}
.s-hr {
  width: 40px;
}
.l-hr {
  width: 70px;
}
.mw-8 {
  max-width: 850px;
}
.col-1-5 {
  flex: 0 0 auto;
  width: 12%;
}
a:hover {
  color: inherit !important;
}
.t-bs {
  box-shadow: 0px -15px 30px -10px #00000021;
}
.bg-black {
  background: #141414 !important;
}
.bg-cream {
  background: #f9f9f9;
}
.text-gray {
  color: gray;
}
.border-gray {
  border-color: gray !important;
}
