header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #ffffff;
  border-bottom: 2px solid #e6e4e4;
  padding: 15px 0;
}
.hidden-input {
  display: none;
}
.page-logo {
  width: 18%;
}
.header-links-container {
  position: relative;
}
.header-links {
  display: none;
  position: absolute;
  right: 0;
  top: 46px;
  padding: 15px 20px;
  text-align: center;
  background: white;
  border: 2px solid #e5e2e2;
  border-radius: 5px;
}
.header-links li {
  margin: 10px;
}
.hidden-input:checked ~ .header-links {
  display: block;
}
.header-buttons {
  margin: 0 30px;
}
.button {
  margin: 0 5px;
}
.button:hover {
  color: #96bece;
}
.yellow-button {
  background: #ffcc01;
  padding: 10px 15px;
  border-radius: 4px;
}

.main-banner .container {
  position: relative;
  text-align: right;
}
.main-banner img {
  width: 80%;
  height: 600px;
}
.main-banner h1 {
  font-size: 60px;
  text-shadow: 5px 2px 3px #ffffff;
}
.banner-content {
  text-align: left;
  position: absolute;
  top: 135px;
}
.search-section {
  margin: 50px 0;
  position: relative;
  width: 60%;
}
.search-section input {
  padding: 20px 80px 20px 40px;
  width: 100%;
  border-radius: 5px;
  border: 2px solid #ececec;
}
.search-section i {
  position: absolute;
  font-size: 20px;
  color: #c7c7c7;
  left: 10px;
  top: 20px;
}
.search-section button {
  position: absolute;
  right: 0;
  height: 100%;
}
.contact-info {
  position: absolute;
  bottom: 4px;
  right: 0;
}
.contact-info a {
  display: inline-block;
  font-size: 20px;
  padding: 20px 10px 20px 0;
  background: #ffcc01;
  text-align: center;
}
.contact-info i {
  margin: 0 10px 0 20px;
  color: #ffffff;
  font-size: 20px;
}
.rotate-p {
  position: absolute;
  transform: rotate(-90deg);
  bottom: 32px;
  left: -32px;
}
.rotate-p p {
  color: #8d8d8d;
}
.rotate-p i {
  margin-right: 10px;
  color: #8d8d8d;
  font-size: 15px;
}

.statistics-section {
  padding: 100px 0;
}
.statistics-content h2 {
  width: 300px;
  margin: 20px 0 40px;
}
.statistics-content p {
  margin-top: 20px;
}
.statistics-items {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.statistics-item {
  margin: 10px 0;
  width: 47%;
  background: #f6f5f4;
  padding: 60px 40px;
  text-align: center;
}
.statistics-item:hover {
  background: #96bece;
}
.statistics-item h3 {
  color: #ffcc01;
  text-align: center;
}

.rent-section {
  padding: 60px 0;
  background: #f6f5f4;
}
.rent-section h2 {
  width: 440px;
  margin-bottom: 50px;
}
.card {
  cursor: pointer;
  margin: 30px 0;
  box-shadow: 0px 0px 10px 1px #8a8a8a;
}
.card:hover {
  opacity: 0.5;
}
.card-content {
  background: #ffffff;
  padding: 20px;
}

.card-info {
  margin: 25px 0 10px;
}
.card-info h5 {
  color: #ffcc01;
  font-weight: 600;
}
.card-icons i {
  margin: 0 10px 0 15px;
  color: #8a8a8a;
}
.card-icons h6 {
  color: #8d8d8d;
}

.rent-search .search-section {
  margin: 40px 0 20px;
  width: unset;
}
.view-button {
  border-radius: 5px;
  padding: 20px 30px;
  background: #ffffff;
}

.works-section {
  padding: 60px 0;
}

.title-p {
  margin-top: 20px;
  width: 350px;
}
.works-section .cards-container {
  margin-top: 50px;
}
.works-section .card {
  overflow: hidden;
  position: relative;
  padding: 140px 40px 50px 35px;
}
.works-section .card:hover {
  background: #ffcc01;
  opacity: unset;
}
.works-section .card:hover .card-hover {
  color: #ffffff;
  border-color: #ffffff;
}
.works-section h1 {
  font-size: 200px;
  position: absolute;
  top: -100px;
  left: -40px;
}
.works-section h5 {
  margin-bottom: 25px;
}
.works-section .card p {
  margin-left: 25px;
  margin-bottom: 20px;
}
.works-section a {
  font-size: 12px;
  margin-left: 25px;
  padding: 8px 0;
  border-bottom: 2px solid #000000;
}

.services-content {
  margin: 40px 0 70px;
  text-align: center;
}
.services-items {
  text-align: left;
  margin-top: 30px;
}
.services-item {
  margin-bottom: 35px;
}
.services-item h4 {
  margin: 5px 0;
}
.services-item p {
  margin: 20px 0;
  width: 370px;
}

.card-info h6 {
  color: #ffcc01;
}

.agents-section {
  background: #f6f5f4;
}
.agents-section .container {
  padding: 50px 0;
}
.agents-section .card-info i {
  color: #000000;
}
.agents-section .card-info i:hover {
  color: #96bece;
}

.super-section {
  padding: 20px 0;
}
.super-img-container {
  position: relative;
}
.super-img-container a {
  cursor: pointer;
  width: 225px;
  font-size: 16px;
  font-weight: 600;
  background: #ffcc01;
  padding: 20px;
  position: absolute;
  top: 98%;
  left: 50%;
  transform: translate(-50%, -60%);
}
.super-img-container a i {
  color: #ffffff;
  margin-right: 10px;
  font-size: 20px;
}
.super-item {
  margin: 60px 0;
}
.super-section .services-item {
  margin-top: 50px;
}
.services-button {
  margin: 20px auto;
  padding: 20px 30px;
  background: #1f373d;
  color: #ffffff;
}

footer {
  background: #1f373d;
  color: #ffffff;
}
footer .container {
  padding: 40px 0 20px;
}
.footer-title-content {
  border-bottom: 2px solid #8a8a8a;
}
.footer-title {
  margin-top: 15px;
}
.footer-input {
  position: relative;
  margin: 40px 0 60px;
}
.footer-input input {
  padding: 20px;
  padding-right: 45px;
  width: 100%;
}
.footer-input i {
  cursor: pointer;
  position: absolute;
  font-size: 25px;
  color: #000000;
  top: 15px;
  right: 15px;
}
.footer-content {
  margin-right: 30%;
  margin-top: 40px;
}
.footer-content h4 {
  margin-bottom: 40px;
}
.footer-content p {
  color: #ffffff;
  margin: 5px 0;
}
.footer-container {
  align-items: flex-start;
}
.footer-item {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-top: 40px;
}
.footer-item h6 {
  color: #8a8a8a;
  margin-bottom: 15px;
}
.footer-item a {
  color: #ffffff;
  margin: 10px 0;
}
.footer-item a:hover {
  color: #ffcc01;
}

@media screen and (min-width: 900px) {
  header {
    padding: 0;
  }
  .header-content {
    flex-direction: row-reverse;
    justify-content: space-around;
    max-width: 800px;
    width: 81%;
  }
  .header-links {
    position: static;
    display: flex !important;
    padding: 0;
    border: none;
  }
  .header-links li {
    padding: 20px 0;
    margin: 10px 8px;
  }
  .show-more-icon {
    display: none;
  }
  .header-buttons {
    margin: 15px 0;
  }
  .banner-content {
    text-align: left;
  }
  .main-banner h1 {
    width: 60%;
  }
  .search-section {
    width: 43%;
  }
  .contact-info {
    display: flex;
  }
  .contact-info i {
    margin: 0 20px 0 35px;
  }
  .contact-info a {
    padding: 20px;
  }
  .statistics-section .container {
    display: flex;
    justify-content: space-between;
  }
  .statistics-content {
    width: 45%;
  }
  .statistics-items {
    margin-top: unset;
    width: 40%;
  }
  .cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .card {
    width: 31%;
  }
  .rent-search {
    margin-top: 30px;
    max-width: 670px;
    display: flex;
    justify-content: space-between;
  }
  .rent-search .search-section {
    width: 65%;
    margin: 0;
  }
  .rent-search .view-button {
    width: 31%;
  }
  .services-content {
    display: flex;
    justify-content: space-between;
  }
  .services-img {
    width: 50%;
  }
  .services-items {
    margin-top: 0;
    width: 37%;
  }
  .super-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .item-reverse {
    flex-direction: row-reverse;
  }
  .super-img-container {
    width: 49%;
  }
  .super-item .services-item {
    width: 49%;
    padding-left: 10%;
  }
  .item-reverse .services-item {
    padding-right: 10%;
    padding-left: unset;
  }
  .footer-title-content {
    display: flex;
    justify-content: space-between;
  }
  .footer-input {
    width: 45%;
  }
  .footer-container {
    margin: 40px 0;
  }
  .footer-content {
    margin-right: 17%;
  }
  .footer-item {
    width: unset;
    margin-right: 6%;
  }
}
